<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.google.admobsdk-googleplay"
	version="5.0.89">
      
  	<engines>
    	<engine name="cordova" version=">=3.0.0" />
    </engines>
        
    <name>AdMob SDK from Google Play Services</name>
	<description>Not a plugin for javascript to call, it just add google-play-services.jar to project, used as dependency of other plugins. For AdMob plugin, use: com.google.cordova.admob</description>
	<keywords>google,play,admob,sdk</keywords>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
			    android:name="com.google.android.gms.ads.AdActivity" 
			    android:theme="@android:style/Theme.Translucent" />
          </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET"/>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
          </config-file>
          
        <source-file src="src/android/google-play-services.jar" target-dir="libs" />
        <source-file src="src/android/version.xml" target-dir="res/values" />
     </platform>

</plugin>
