<div class="game-container">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <a class="control-icon el-icon-pause" ng-click ng-href="#/home"></a><br /><br />
                <a class="control-icon el-icon-repeat" ng-click="reloadLevel()"></a>
            </div>
            <div class="level-cell t-cell">
                1-1
            </div>
            <div class="game-goal-cell t-cell">
                1-1
            </div>
        </div>
    </div>
    <div class="game-field">
        <div class="game-matrix s3x3" style="width: 280px" >
            <div class="matrix-cell" data-row="{{Math.floor(index / matrixData.sideSize)}}" data-col="{{index % matrixData.sideSize}}" style="width: {{matrixData.sideSizePercent}}; padding-bottom: {{matrixData.sideSizePercent}}; height: 0" ng-repeat="(index, value) in matrixData.initialState" swipe-cell>{{value}}</div>
        </div>
    </div>
    
</div>