<div class="game-container">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <div class="control-icon glyphicon el-icon-pause"></div><br />
                <div class="control-icon glyphicon el-icon-repeat"></div>
            </div>
            <div class="level-cell t-cell">
                1-1
            </div>
            <div class="game-goal-cell t-cell">
                1-1
            </div>
        </div>
    </div>
    <div class="game-field">
        <div class="game-matrix s3x3">
            <div class="matrix-cell">1</div>
            <div class="matrix-cell pos01">2</div>
            <div class="matrix-cell pos02">3</div>
            <div class="matrix-cell pos10">4</div>
            <div class="matrix-cell pos11">5</div>
            <div class="matrix-cell pos12">6</div>
            <div class="matrix-cell pos20">7</div>
            <div class="matrix-cell pos21">8</div>
            <div class="matrix-cell pos22">9</div>
        </div>
    </div>
    
</div>