<div class="game-container">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <span class="control-icon el-icon-pause" ng-click="goToPath('/home')"></span><br /><br />
                <span class="control-icon el-icon-repeat" ng-click="reloadGame()"></span>
            </div>
            <div class="level-cell t-cell">
                {{chapterId + 1}}-{{levelId}}
            </div>
            <div class="game-goal-cell t-cell">
                {{chapterId + 1}}-{{levelId}}
            </div>
        </div>
    </div>
    <div class="game-field">
        <div class="game-matrix s3x3" style="width: 280px" >
            <div class="matrix-cell" data-row="{{value.row}}" data-col="{{value.column}}" style="width: {{sideSizePercent}}; padding-bottom: {{sideSizePercent}}; height: 0" ng-repeat="(index, value) in initialStateMatrix" swipe-cell="whenMoveEnd(value.row, value.column, direction)" swipe-cell-on-move="whenMoved(value.row, value.column, direction)" swipe-cell-animation-end="whenAnimationEnd()" ng-class="value.animClass">{{value.label}}</div>
        </div>
    </div>
    
</div>