$watColor: #9acb40;
$labelsColor: #9bcb41;
$iconWidth: 50px;

@mixin no-user-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transitionTransform($transition-time, $method) {
    -webkit-transition: -webkit-transform $transition-time $method;
    -moz-transition: -moz-transform $transition-time $method;
    -ms-transition: -ms-transform $transition-time $method;
    -o-transition: -o-transform $transition-time $method;
    transition: transform $transition-time $method;
}

// generic transform
@mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
     @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
         -o-transform-origin: $origin;
        -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

.nav-controls {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    font-family: UbuntuBold;
    .t-cell {
        vertical-align: middle;
    }

    a.control-icon, span.control-icon {
        text-decoration: none;
        display: inline-block;
    }
    .control-icon {
        width: $iconWidth;
        height: $iconWidth;
        line-height: 50px;
        text-align: center;
        background-color: $watColor;
        color: white;
        cursor: pointer;
        @include no-user-select;

        &.disabled {
            background-color: #999;
            color: white;
        }

        &.ng-click-active:not(.disabled) {
            background-color: #d9df3f;
        }

        &[class*="el-icon-"] {
            font-size: 25px;
        }
        &.fa {
            font-size: 40px;
        }
    }
}