.game-container {
    
    .game-field {
        padding: 0 20px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        .game-matrix {
            width: 100%;
            height: 280px;
            position: relative;
            display: inline-block;
            background-color: white;
            .matrix-cell {
                font-family: UbuntuBold;
                position: absolute;
                border: 2px solid white;
            }
            &.s3x3 {
                padding: 2px;
                box-sizing: border-box;
                .matrix-cell {
                    top: 2px;
                    left: 2px;
                    width: 90px;
                    height: 90px;
                    line-height: 90px;
                    padding: 1px;
                    font-size: 60px;
                    box-sizing: border-box;
                    text-align: center;
                    background-color: $watColor;
                    @include transitionTransform(0.1s, ease-out);
                    @for $i from 0 through 2 {
                        @for $j from 0 through 2 {
                            &[data-row="#{$i}"][data-col="#{$j}"] {
                                @include translate($j * 92px, $i * 92px);
                                $moveOffset: 92px / 4;
                                &.moveUp {
                                    @include translate($j * 92px, $i * 92px - $moveOffset);
                                }
                                &.moveDown {
                                    @include translate($j * 92px, $i * 92px + $moveOffset);
                                }
                                &.moveLeft {
                                    @include translate($j * 92px - $moveOffset, $i * 92px);
                                }
                                &.moveRight {
                                    @include translate($j * 92px + $moveOffset, $i * 92px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .nav-controls {
        .level-cell {
            font-size: 62px;
            color: $watColor;
        }
        .game-goal-cell {

        }
    }
    
}