.home {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    text-align: center;
    .app-title {
        font-family: DeusEx;
        font-size: 42px;
        color: #9bcb41;
    }
    .menu {
        $width: 100%;
        padding: 0 40px;
        margin-top: 10px;
        .menu-item {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            min-height: 45px;
            padding: 10px 0;

            background-color: #9bcb41;
            
            text-align: center;
            font-size: 25px;
            font-family: UbuntuBold;
            color: white;

            &.disabled {
                background-color: #c6c7c9;
            }

            &.ng-click-active {
                background-color: #d9df3f;
            }

            &+.menu-item {
                margin-top: 10px;
            }
        }
    }
}

.levels {
    width: 100%;
    height: 100%;
    .level-item {
        width: 20%;
        height: 25%;
        float: left;
        

        .level-item-cont {
            vertical-align: middle;
            text-align: center;
        }

        .level-item-icon {
            display: inline-block;
            height: 25px;
            font-size: 25px;
            line-height: 25px;
            background-color: #3443ab;
            color: #fff;
        }
    }
}