html, body {
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #cbbc54;  
    font-family: Tahoma;
}

.nav-link {
    color: #3443ab;
    text-decoration: none;
    cursor: pointer;
}

.table {
    display: table;
    .t-row {
        display: table-row;
        .t-cell {
            display: table-cell;
        }
    }
}

.wh100 {
    width: 100%;
    height: 100%;
}

.block {
    display: block;
}