<div class="levels">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <span class="control-icon el-icon-chevron-left" ng-click="goToPath('home')"></span>
            </div>
            <div class="t-cell chapter-label">
                <h1>About</h1>
            </div>
        </div>
    </div>
    <div class="game-description">
        <p><b>DigitSquare puzzle game</b>. &copy;2015 Flatlogic Inc. All rights reserved.</p>
        <p>If you find some bugs or want some improvement, feel free to contact us via email: <a href="mailto:contact@flatlogic.com">contact@flatlogic.com</a></p>
    </div>
</div>