<div class="levels">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <span class="control-icon el-icon-chevron-left" ng-click="goToPath('home')"></span>
            </div>
            <div class="t-cell chapter-label">
                <h1>Help</h1>
            </div>
        </div>
    </div>
    <div class="game-description">
        <h3>1. Game goals</h3>
        <p>Shifting rows and columns you need the change the state of the big game matrix to goal matrix you see in the top right corner.</p>
        <h3>2. Game mechanics</h3>
        <p>Every row (column) can be cyclically shifted left or right (up or down). For example shifting some row to the right means that each cell will be shifted to the 1 position right, except right-most cell which will be shifted to the left most position. Left, top and bottom shifts happen similarly.</p>
        <h3>3. How to make a shift</h3>
        <p>To shift some line, you need to touch (drag) some cell from that row or column to the direction you want to shift it. After you start drag, cells from that row or column will start moving in the direction you moving your finger (cursor). To complete shift you need to release your finger (mouse button).</p>
        <h3>4. Levels</h3>
        <p>There are several chapters in the game. Each previous chapter has less difficulty than next chapter. Each chapter has 20 levels. Initially, only first level from the chapter is unlocked. You need to complete levels to unlock next ones.</p>
        <h3>5. Rewards system</h3>
        <p>For each level there is minimal amount of shifts needed to complete it. If you complete the level using this amount of shifts you will get 3 stars. Additional shifts will reduce amount of stars you get.</p>
    </div>
</div>