<div class="levels">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <span class="control-icon el-icon-chevron-left" ng-click="goToPath('/home')"></span>
            </div>
            <div class="t-cell chapter-label">
                <h1>{{fullChapters[currentIndex].chapterLabel}}</h1>
            </div>
        </div>
    </div>
    <div class="chapters-body">
        <div class="chapters-container" ng-style="{ transform: 'translate3d(' + -(screenWidth * currentIndex + deltaOffset) + 'px,0,0)', '-webkit-transform': 'translate3d(' + -(screenWidth * currentIndex + deltaOffset) + 'px,0,0)', width: screenWidth * fullChapters.length + 'px' }" swipe-panel="swipeProcess(delta)" swipe-end="swipeEnd(delta)" ng-class="{ 'include-transition': includeTransitionClass }">
            <div class="levels-links" ng-repeat="chapter in groupedChapters" ng-style="{ width: screenWidth + 'px' }">
                <div class="level-item-row" ng-repeat="levelGroup in chapter">
                    <div class="nav-link level-item" ng-repeat="level in levelGroup" ng-class="{locked: level.enabled}" data-add-a-space-between>
                        <span class="inline-block" ng-if="level.enabled" ng-click="goToPath('/game/' + level.id, 'skipAd=true')">
                            <span class="level-item-icon">{{level.label}}</span><br />
                            <span class="level-icon-rating"><span ng-if="level.isCompleted"><i class="el-icon-star" ng-repeat="index in [1,2,3]" ng-class="{rewarded: index <= level.score}"></i></span>&nbsp;</span>
                        </span>
                        <span class="inline-block" ng-if="!level.enabled">
                            <span class="level-item-icon disabled"><i class="fa fa-lock"></i></span><br />
                            <span class="level-icon-rating">&nbsp;</span>
                        </span>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell text-left">
                <div class="control-icon fa fa-angle-double-left" ng-class="{ disabled: !fullChapters[currentIndex - 1] }" ng-click="goToChapter(currentIndex - 1)"></div>
            </div>
            <div class="t-cell text-center level-breadcrumb">
                <div class="fa fa-circle" ng-repeat="chapterCircle in [] | range:fullChapters.length" ng-class="{ active: chapterCircle == currentIndex }" data-add-a-space-between></div>
            </div>
            <div class="t-cell text-right">
                <div class="control-icon fa fa-angle-double-right" ng-class="{ disabled: !fullChapters[currentIndex + 1] }" ng-click="goToChapter(currentIndex + 1)"></div>
            </div>
        </div>
    </div>
</div>