@font-face {
    font-family: DeusEx;
    src: url(../fonts/DeusEx.ttf);
}
@font-face {
    font-family: UbuntuBold;
    src: url(../fonts/Ubuntu-B.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}
