<div class="game-container">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell controls-cell">
                <span class="control-icon el-icon-lines" ng-click="goToPath('/levels', 'initialGroup=' + chapterId)"></span>
                <span class="control-icon el-icon-repeat" ng-click="reloadGame()"></span>
            </div>
            <div class="level-cell t-cell">
                <div class="level-id">{{levelId}}</div>
                <div class="moves"><span class="moves-cont">Moves: {{movesCount}}</span></div>
            </div>
            <div class="game-goal-cell t-cell">
                <div class="game-goal-container" ng-style="{ width: sideSize * 25 * sizeK + 'px' }" ng-class="{ zindexOver: showGoalThroughModal }">
                    <div class="goal-hint-arrow-outer" ng-if="levelId == '1-1'"><div class="goal-hint-arrow el-icon-arrow-down" ng-style="{ left: (sideSize * 25 * sizeK / 2) + 'px' }"></div></div>
                    <div class="goal-label">Goal:</div>
                    <div class="table goal-table" ng-style="{ width: sideSize * 25 * sizeK + 'px', height: sideSize * sizeK * 25 + 'px' }" ng-class="{ requireUserFocus: levelId == '1-1' }">
                        <div class="t-row" ng-repeat="row in [] | range:sideSize">
                            <div class="t-cell" ng-repeat="column in [] | range:sideSize">{{goalArray[sideSize*row+column] || '&nbsp;'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="game-field">
        <div class="game-matrix" ng-style="{ width: fieldWidth + 'px', height: fieldWidth + 'px' }">
            <div class="matrix-cell" data-row="{{value.row}}" data-col="{{value.column}}" ng-style="{ width: sidePixels + 'px', height: sidePixels + 'px', 'line-height': sideLine + 'px', 'font-size': cellFont + 'px' }" ng-repeat="(index, value) in initialStateMatrix" swipe-element="whenMoveEnd(value.row, value.column, dir, x, y)" swipe-element-move="whenMoved(value.row, value.column, dir, x, y)" swipe-element-start="whenMoveStart(initialElementBounds, x, y, triggerType)" ng-class="value.animClass">{{value.label}}</div>
        </div>
    </div>
<!--     <div class="nav-controls">
        <span class="control-icon el-icon-repeat" ng-click="randomNShifts()"></span>
    </div> -->
</div>