<div class="levels">
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell">
                <a class="control-icon el-icon-chevron-left" ng-href="#/home" ng-click></a>
            </div>
            <div class="t-cell chapter-label">
                <h1>{{chapter.chapterLabel}}</h1>
            </div>
        </div>
    </div>
    <div class="levels-links">
        <div class="nav-link level-item" ng-repeat="(index, level) in chapter.chapterLevels" data-add-a-space-between ng-class="{locked: level.enabled}">
            <a class="inline-block" ng-href="#/game/{{chapterId}}/{{level.label}}" ng-if="level.enabled" ng-click>
                <span class="level-item-icon">{{level.label}}</span><br />
                <span class="level-icon-rating"><span ng-if="level.isCompleted"><i class="el-icon-star" ng-repeat="index in [1,2,3]" ng-class="{rewarded: index <= level.score}"></i></span>&nbsp;</span>
            </a>
            <span class="inline-block" ng-if="!level.enabled">
                <span class="level-item-icon disabled"><i class="fa fa-lock"></i></span><br />
                <span class="level-icon-rating">&nbsp;</span>
            </span>
        </div>
    </div>
    <div class="nav-controls table">
        <div class="t-row">
            <div class="t-cell text-left">
                <a class="control-icon fa fa-angle-double-left" ng-if="prevChapter !== false" ng-click ng-href="#/levels/{{prevChapter}}"></a>
                <div class="control-icon fa fa-angle-double-left disabled" ng-if="prevChapter === false"></div>
            </div>
            <div class="t-cell text-center level-breadcrumb">
                <div class="fa fa-circle" ng-repeat="chapterObj in chapters" ng-class="{ active: chapterObj.selected }" data-add-a-space-between></div>
            </div>
            <div class="t-cell text-right">
                <a class="control-icon fa fa-angle-double-right" ng-if="nextChapter" ng-click ng-href="#/levels/{{nextChapter}}"></a>
                <div class="control-icon fa fa-angle-double-right disabled" ng-if="!nextChapter"></div>
            </div>
        </div>
    </div>
</div>