<div class="home"> 
    <div class="app-title">Digitals</div>
    <div class="menu">
        <span class="nav-link menu-item" ng-click="goToPath(savedGameUrl, 'savedGame=true')" ng-if="savedGameState">Continue</span>
        <span class="nav-link menu-item disabled" ng-if="!savedGameState">Continue</span>
        <span class="nav-link menu-item" ng-click="goToPath('/levels')">New Game</span>
        <span class="nav-link menu-item" ng-click="goToPath('/settings')">Settings</span>
        <span class="nav-link menu-item" ng-click="goToPath('/about')">About</span>
        <span class="nav-link menu-item" ng-click="goToPath('/help')">Help</span>
    </div>
</div>